<div class="container">

  <div class="row">
    <div class="col">
      <h1>Articles</h1>
    </div>
  </div>

  <div class="row">
  <% @articles.each do |article| %>
    <div class="col">
      <h2><%= article.title %></h2>
      <p><%= article.body %></p>
    </div>
    <% end %>

  </div>
</div>

</div>



<div>Our blog has <%= Article.public_count %> articles and counting!</div>

<div class="alert alert-success" role="alert">
  Check back soon, more articles everyday!
</div>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>